{% extends 'template.html' %}

{% block subtitile %}rezerwacja{% endblock %}

{% block content %}
    <div class="container">
        <header>
            <h1>Dane lotu:</h1>
            <ul>
                <li>Samolot: {{ flight_attr.flight.plane.name }}, liczba miejsc: {{ flight_attr.flight.plane.capacity }}</li>
                <li>Wylot dnia {{ flight_attr.dep_date }} o godzinie {{ flight_attr.dep_time }}, z lotniska {{ flight_attr.flight.source }}</li>
                <li>Przylot o {{ flight_attr.arr_date }} o godzinie {{ flight_attr.arr_time }}, na lotnisko {{ flight_attr.flight.destination }}</li>
                <li>Wolne miejsca: {{ flight_attr.free_seats }}</li>
            </ul>
        </header>
        <section>
            <h1>Pasażerowie:</h1>
            <ul>
                {% for passenger in passengers %}
                    <li>{{ passenger.owner_name }}, miejsca: {{ passenger.seats }}</li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h1>Rezerwuj miejsca:</h1>
            <form method="POST">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{ error }}
                    </div>
                {% endfor %}
                {% for field in form %}
                    <div class="form-group has-errors text-danger small">
                        {{ field.errors }}
                    </div>
                    <div class="form-group">
                        {{ field }}
                    </div>
                {% endfor %}
                <button class="btn btn-default">Zarejestruj</button>
            </form>
        </section>
    </div>
{% endblock %}
