{% extends 'template.html' %}

{% block subtitile %}lista lotów{% endblock %}

{% block content %}
    <div class="container">
        <header>
            {% if selected_date %}
                <h1>Wybrano loty z dnia {{ chosen_date }}.</h1>
            {% else %}
                <h1>Wyświetlone są wszystkie loty.</h1>
            {% endif %}
        </header>
    <section style="padding-top: 1em; padding-bottom: 1em">
        {% if wrong_date %}
            <p>Wybrano niepoprawną datę.</p>
        {% endif %}
        <p>Możesz wybrać loty z konkretnego dnia:</p>
        <form class="form-inline" action="{% url 'flights' %}" method="GET">
            <div class="form-group">
                <input type="date" class="form-control" name="date">
            </div>
            <button type="submit" class="btn btn-default">Wybierz</button>
        </form>
    </section>
    <table class="table table-bordered">
        {% for flight_attr in flight_attrs %}
            <tr>
                <td>Wylot dnia {{ flight_attr.dep_date }}, o godzinie {{ flight_attr.dep_time }}</td>
                <td>Lądowanie dnia {{ flight_attr.arr_date }}, o godzinie {{ flight_attr.arr_time }}</td>
                <td>Nr lotu: <a href="{% url 'choose_flight' flight_attr.flight.id %}">{{ flight_attr.flight.id }}</a></td>
            </tr>
            <tr>
                <td>Lotnisko startowe: {{ flight_attr.flight.source }}</td>
                <td>Lotnisko docelowe: {{ flight_attr.flight.destination }}</td>
                <td>Wolne miejsca: {{ flight_attr.free_seats }}</td>
            </tr>
            <tr>
                <td colspan="3"></td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
